body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background-color: cyan;
}
.banner-column{
    background-color: darkcyan;
}
.navbar-container{
    background-color: darkslategray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.about-container{
    background-color: cadetblue;
}
.education-container{
    background-color: mediumturquoise;
}
.bg-redtype{
    background-color: tomato;
}
.redtype-color{
    background-color: thistle;
}
.circle{
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.project-container{
    background-color: cornflowerblue;
}